
{%extends 'base.html'%}
{%block start%}
<div class="container col-6 shadow-lg mt-3 p-5">
    {% if messages %}
    <div class="container border border-success-subtle">
    {% for msg in messages %}
        {{msg}}
    {%endfor%}
  
    </div>
    {%endif%}
    <hr>

    <strong class = "fs-3">Register yourself to get started !</strong>

    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">First Name</label>
          <input type="text" class="form-control"  name="first_name">
          
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="last_name">
            
          </div>
        
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" class="form-control"  name="email">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Username</label>
            <input type="text" class="form-control"  name="username">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control"  name="password">
          </div>
          
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">By submitting the form I agree to Terms and Conditions</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        Already have account? <a href="{% url 'login_page' %}"> Login </a>
      </form>

</div>
{%endblock%}
